@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Price
@{
    ViewBag.Title = "Price Discount Calculator";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Price Calculator</title>
    </head>
    <body>
        <h1>Price Calculator</h1>
        <form asp-action="Index" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="subTotal">Sub Total: </label>
                <input asp-for="subTotal" />
            </div>
            <div>
                <label asp-for="discountPercent">Discount: </label>
                <input asp-for="discountPercent" />
            </div>
            <div>
                <label asp-for="discountTotal">Discount Total: </label>
                <input value="@ViewBag.discountTotal" readonly/>
            </div>
            <div>
                <label asp-for="grandTotal">Total: </label>
                <input value="@ViewBag.grandTotal" readonly/>
            </div>
            <div>
                <button type="submit">Calculate</button>
                <a asp-action="Index">Clear</a>
            </div>
        </form>
    </body>
</html>